* {
	scroll-behavior: smooth;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/*Hero*/
#lemax_logo {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 10%;
}

.hero {
	background-image: url('../../images/bg_projetos.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	padding-left: 10%;
	align-items: center;
}

.hero-content {
	text-align: center;
	color: var(--azul-mais-claro);
}

.hero-content h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	line-height: 11vh;
	animation: fadein 1s ease;
	text-align: left;
}

.hero-content h3 {
	animation: fadein 1s ease;
	text-align: left;
}

.hero-content ul {
	font-size: 100%;
	margin-bottom: 2rem;
	text-align: left;
}

.hero-content li {
	animation: fadein 1s ease;
}

.hero-content #btn_hero_saibaMais {
	padding: 15px 20px;
	background-color: transparent;
	border: 2px solid #e9e8e8;
	border-radius: 10px;
	color: #e9e8e8;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	font-size: 110%;
	margin-top: 50px;
}

.hero-content #btn_hero_saibaMais:hover {
	cursor: pointer;
}


/*Cards*/
.card-section {
	padding-bottom: 9rem;
	padding-top: 5rem;
	text-align: center;
}

.card-section h2 {
	margin-top: 0;
	margin-bottom: 50px;
	font-size: 2rem;
	color: var(--cinza);
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	background-color: #d9d9d9;
	box-shadow: 0 2px 4px var(--cinza-claro);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin: 20px;
	border-radius: 5px;
	flex: 1;
	max-width: 25%;
	flex-basis: calc(33.33% - 20px);
	height: 300px;
}

.card:hover {
	cursor: pointer;
	background-color: #908D8D;
}

.card-content h3 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.5rem;
	color: var(--cinza);
}

.card-content p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.2rem;
	color: var(--cinza-claro);
}

/*Contato*/
.contato {
	padding: 50px 0;
}

.contato-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	padding: 50px 0;
	width: 100%;
	height: auto;
	background-color: var(--cinza-mais-claro);
	gap: 1rem;
}

.contato img {
	width: 400px;
	height: auto;
}

.text-container-contato {
	width: 50%;
	height: auto;
	padding: 0 50px;
	background-color: var(--azul-mais-claro);
	border-radius: 10px;
	box-shadow: 0 2px 4px 1px var(--border-color-servicos);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.text-container-contato h2 {
	font-size: 2rem;
	margin-bottom: 20px;
	color: var(--cinza);
}

.text-container-contato p {
	font-size: 1.2rem;
	color: var(--cinza);
}

.text-container-contato p a {
	font-size: 1.2rem;
	color: var(--cinza);
	text-decoration: underline;
}

.text-container-contato p a:hover {
	font-size: 1.2rem;
	color: var(--cinza-escuro);
	text-decoration: underline;
}

#maps_iframe {
	width: clamp(300px, 600px, 600px);
	height: 450px;
}

/*Footer*/
.footer-content {
	width: 100%;
	height: auto;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: var(--cinza-escuro);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer-content img {
	width: 10%;
}

/*Cores*/
:root {
	--cinza-escuro: #313132;
	--cinza: #54595F;
	--cinza-claro: #908D8D;
	--cinza-mais-claro: #f9f9f9;
	--azul: #163A82;
	--azul-claro: #65B5FF;
	--azul-mais-claro: #EAF0FF;
	--border-color-circular: #6b79c2;
	--verde: #45A14B;
}

/*Animações*/

@keyframes fadein {
	0% {
		opacity: 0%;
		transform: translateY(20px);
	}

	100% {
		opacity: 100%;
	}
}

/*Responsividade*/
@media screen and (max-width: 800px) {

	#lemax_logo {
		width: 20%;
	}

	.hero {
		justify-content: center;
		background-position: left;
		padding-left: 0;
	}

	.hero-content {
		max-width: 90%;
	}

	.card {
		background-color: #d9d9d9;
		box-shadow: 0 2px 4px var(--cinza-claro);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		margin: 20px;
		border-radius: 5px;
		flex: 1;
		max-width: 100%;
		flex-basis: calc(66.66% - 20px);
	}

	.card-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.card-section h2 {
		max-width: 90%;
	}

	.contato img {
		display: none;
	}

	.text-container-contato {
		height: auto;
		background-color: transparent;
		box-shadow: none;
	}

	.text-container-contato h2 {
		font-size: 1.5rem;
	}

	.footer-content {
		text-align: center;
	}

	.footer-content img {
		width: 20%;
	}
}